.form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputstyle {
  padding: 10px;
  width: 28.5rem;
  border: 1px solid #e8e8e8;
  margin-right: 20px;
  color: #c4c4c4;
  border-radius: 4px;
}
