
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Montserrat&family=Roboto+Slab&family=Roboto:wght@700&display=swap');

body {
  background-color: #f1f2f6;
  margin: 0;
  padding: 4%;
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 2.375rem;
}

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.link a {
  color: #121212;
  text-decoration: none;
}

.user-logo {
  width: 3%;
  color: #0290ff;
  float: right;
  margin-top: -55px;
  padding-top: 0;
  margin-left: 95%;
}

.card {
  display: flex;
  background-color: #e8e8e8;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 3%;
  box-shadow: 0 0 2px #6e6e6e;
}

.card-2 {
  margin-left: -40px;
}

.book-action {
  color: #888;
}

.book-title {
  color: #121212;
  width: 22.813rem;
  height: 1.813rem;
  margin: 0.188rem 9.688rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
}

.book-author {
  color: #4386bf;
}

.activities {
  display: flex;
  gap: 20px;
  color: #4386bf;
  font-size: 0.85rem;
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-weight: 300;
}

.percentage {
  width: 50%;
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
}

.complete {
  color: #a09a9a;
}

.hr {
  color: #e8e8e8;
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
}

.add {
  background: #0290ff;
}

.add:hover {
  box-shadow: 0 0 6px #6e6e6e;
  background: brown;
  transition: all 0.5s ease-in-out;
}

.btn {
  border-radius: 3px;
  background-color: blue;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 300;
  border: 0;
  padding: 10px 25px;
  cursor: pointer;
}
